<div class="bg-gray-50 dark:bg-gray-800 flex flex-col min-h-screen">
    <!-- Header -->
    <nav class="justify-between px-4 py-3 text-gray-700 border border-gray-200 rounded-lg sm:flex sm:px-5 bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Breadcrumb">
        <h1
            class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
            QRCode Generate</h1>
    </nav>
    <!-- Form -->
    <form [formGroup]="qrcodeForm" class="max-w-sm mx-auto">
        <div data-element="fields" data-stacked="false"
            class="flex items-center w-full max-w-md mb-3 seva-fields formkit-fields mt-32 md:mt-32">
            <div class="relative w-full mr-3 formkit-field">
                <label for="member_email"
                    class="hidden block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">URL</label>
                <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-800 dark:text-gray-300" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m6.072 10.072 2 2 6-4m3.586 4.314.9-.9a2 2 0 0 0 0-2.828l-.9-.9a2 2 0 0 1-.586-1.414V5.072a2 2 0 0 0-2-2H13.8a2 2 0 0 1-1.414-.586l-.9-.9a2 2 0 0 0-2.828 0l-.9.9a2 2 0 0 1-1.414.586H5.072a2 2 0 0 0-2 2v1.272a2 2 0 0 1-.586 1.414l-.9.9a2 2 0 0 0 0 2.828l.9.9a2 2 0 0 1 .586 1.414v1.272a2 2 0 0 0 2 2h1.272a2 2 0 0 1 1.414.586l.9.9a2 2 0 0 0 2.828 0l.9-.9a2 2 0 0 1 1.414-.586h1.272a2 2 0 0 0 2-2V13.8a2 2 0 0 1 .586-1.414Z">
                        </path>
                    </svg>
                </div>
                <input id="url"
                    class="formkit-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="url" formControlName="url" aria-label="URL" placeholder="Enter URL..." required=""
                    type="text">
            </div>

            <button data-element="submit" class="formkit-submit" (click)="onGenerateClick()">
                <div class="formkit-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <span
                    class="px-5 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Generate</span>
            </button>
        </div>
        <!-- Error message -->
        <p *ngIf="error" id="outlined_error_help" class="m-2 text-xs text-red-600 dark:text-red-400"><span
                class="font-medium">Oh,
                snapp!</span> {{ error }}</p>

        <label for="Format" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an
            Format</label>
        <select id="format" name="format" formControlName="format"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected value="png">png</option>
            <option value="jpg">jpg</option>
            <option value="jpeg">jpeg</option>
            <option value="eps">eps</option>
            <option value="svg">svg</option>
        </select>

        <label for="fg_color" class=" block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Foreground
            color</label>
        <input id="fg_color"
            class="formkit-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            name="fg_color" formControlName="fg_color" aria-label="fg_color" placeholder="Enter color..." type="color"
            value="#000000">

        <label for="bg_color" class=" block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Background
            color</label>
        <input
            class="formkit-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            name="bg_color" formControlName="bg_color" aria-label="bg_color" placeholder="Enter color..."
            value="#ffffff" type="color">
    </form>

    <!-- Download button -->
    <div class="flex flex-col items-center justify-center mt-3">
        <div
            class="relative items-center block max-w-sm p-6 bg-white border border-gray-100 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-800 dark:hover:bg-gray-700">
            <div *ngIf="qrcodeUrl && !loading" class="flex flex-col items-center justify-center space-y-4">
                <img [src]="qrcodeUrl" alt="QR Code">
                <a [href]="qrcodeUrl" [download]="'qrcode.' + qrcodeForm.get('format')?.value">
                    <button data-element="submit" class="formkit-submit">
                        <div class="formkit-spinner">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <span
                            class="px-5 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Download
                        </span>
                    </button>
                </a>
            </div>
        </div>

        <div *ngIf="loading" role="status" class="absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2">
            <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    <!-- Footer -->
    <div class="flex-grow"></div>
    <div class="flex-wrap bottom-0">
        <p class="text-center text-gray-500 text-sm glow">
            Made with Angular and Tailwind
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4 text-red-500" viewBox="0 0 24 24"
                fill="currentColor">
                <path
                    d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
            </svg>
        </p>
        <p class="text-center text-gray-500 text-sm pb-3 glow">
            &#64; 2024 Akshay
        </p>
    </div>
</div>