<div class="bg-gray-50 dark:bg-gray-800 flex flex-col min-h-screen">
    <!-- Header -->
    <nav class="justify-between px-4 py-3 text-gray-700 border border-gray-200 rounded-lg sm:flex sm:px-5 bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Breadcrumb">
        <a routerLink=""
            class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
            Akshay P</a>
        <button
            class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
            (click)="printResume()">
            Print Resume
            <div class="ml-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-500 dark:text-black" width="24px" height="24px"
                    fill="currentColor" viewBox="0 0 1024 1024">
                    <path
                        d="M691.2 410V256H333v154h-77v256h76.8v102h358.4V666H768V410h-76.8zM640 717H384V589h256v128zM384 410V307h256v103H384zm307.2 102c-14.1 0-25.6-11.5-25.6-25.6 0-14.1 11.5-25.6 25.6-25.6 14.1 0 25.6 11.5 25.6 25.6 0 14.1-11.5 25.6-25.6 25.6z" />
                </svg>
            </div>
        </button>
    </nav>


    <div class="py-8 px-4 mx-auto max-w-screen-xl">
        <div
            class="bg-gray-50 dark:bg-gray-800 border border-gray-200 rounded-lg dark:border-gray-700 p-8 md:p-12 font-sans">

            <div class="container mx-auto  px-4">
                <div class="bg-gray-50 dark:bg-gray-800 p-6 rounded-lg shadow-lg">
                    <h1 class="text-3xl font-semibold text-gray-900 dark:text-white">Akshay P</h1>
                    <p class="text-gray-900 dark:text-white">Laravel Developer</p>

                    <hr class="my-4">

                    <h2 class="text-xl font-semibold mb-2 text-gray-900 dark:text-white">Summary</h2>
                    <p class="text-gray-900 dark:text-gray-400">
                        Enthusiastic Laravel developer with 2 years of experience, eager to apply my robust knowledge
                        in Laravel and related technologies to significantly contribute to a company's achievements
                        while
                        continually increasing my expertise.
                    </p>

                    <h2 class="text-xl font-semibold mt-4 mb-2 text-gray-900 dark:text-white">Skills</h2>
                    <ul class="list-disc list-inside text-gray-900 dark:text-gray-400">
                        <li>Laravel, PHP</li>
                        <li>MySQL, PhpMyAdmin</li>
                        <li>JavaScript,Tailwind, Bootstrap</li>
                        <li>Git, GitHub, BitBucket</li>
                    </ul>

                    <h2 class="text-xl font-semibold mt-4 mb-2 text-gray-900 dark:text-white">Experience</h2>
                    <div class="mb-4">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Jr. Software Engineer,
                            Cloudrevel Innovations Pvt. Ltd.</h3>
                        <p class="text-gray-900 dark:text-gray-400">
                            Hands-on experience in HRMS Application, Payment gateway admin panel, and betting
                            applications using the Laravel framework.
                            Integrated Payroll Payslip, managed assets, and implemented multiple role-based permissions
                            using Spatie.
                        </p>
                        <p class="text-gray-900 dark:text-gray-400">March 2023 - Present</p>
                    </div>

                    <div class="mb-4">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Junior Developer, AOF
                            Engineering Systems, LLC</h3>
                        <p class="text-gray-900 dark:text-gray-400">
                            Resolved bugs and production issues in various projects. Performed database migration from
                            Sybase to Postgres.
                        </p>
                        <p class="text-gray-900 dark:text-gray-400">Sep 2022 - Feb 2023</p>
                    </div>

                    <h2 class="text-xl font-semibold mt-4 mb-2 text-gray-900 dark:text-white">Education</h2>
                    <div class="mb-4">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-400">Bachelor of Engineering in
                            Computer Engineering & IT Infrastructure</h3>
                        <p class="text-gray-900 dark:text-gray-400">NTTF Bangalore</p>
                        <p class="text-gray-900 dark:text-gray-400">2019 - 2022</p>
                    </div>
                    <h2 class="text-xl font-semibold text-gray-900 dark:text-white">Contact</h2>
                    <ul class="list-disc list-inside text-gray-900 dark:text-gray-400">
                        <li>Email: akshaypbalussery&#64;gmail.com</li>
                        <li>LinkedIn: <a href="https://www.linkedin.com/in/dev-akshay-p"
                                class="text-blue-500 hover:underline">linkedin.com/in/dev-akshay-p</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>